<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Nazar SHOP</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="rootCtrl">
    <!--offer/new-->
    <div style="border: 1px solid black; margin: 10px; padding: 10px">
        <h3>Create new offer</h3>
        <input ng-model="newOffer.title" placeholder="title">
        <input ng-model="newOffer.description" placeholder="description">
        <input ng-model="newOffer.specifications" placeholder="specifications">
        <select ng-model="newOffer.typeId" ng-change="setType()">
            <option ng-repeat="type in typesList" value="{{type.id}}">
                {{type.title}}</option>
        </select>
        <select ng-model="newOffer.subtypeId">
            <option ng-repeat="subtype in subtypesList" value="{{subtype.id}}">
                {{subtype.title}}</option>
        </select>
        <input ng-model="newOffer.count" placeholder="count">
        <input ng-model="newOffer.price" placeholder="price">
        <input ng-model="newOffer.oldPrice" placeholder="oldPrice">
        <input ng-model="newOffer.sex" placeholder="sex">
        <input ng-model="newOffer.color" placeholder="color">
        <input ng-model="newOffer.status" placeholder="status">
        <input ng-model="newOffer.createdId" placeholder="createdId">
        <input type='file' ng-model='image1' base-sixty-four-input>
        <input type='file' ng-model='image2' base-sixty-four-input>
        <input type='file' ng-model='image3' base-sixty-four-input>
        <input type='file' ng-model='image4' base-sixty-four-input>

        <button ng-click="submit()">OK</button><br>
    </div>
    <!--type/new-->
    <div style="border: 1px solid black; margin: 10px; padding: 10px">
        <h3>Create new type</h3>
        <input ng-model="newType.title" placeholder="title">

        <button ng-click="submitType()">OK</button><br>
    </div>
    <!--subtype/new-->
    <div style="border: 1px solid black; margin: 10px; padding: 10px">
        <h3>Create new subtype</h3>
        <input ng-model="newSubtype.title" placeholder="title">
        <input ng-model="newSubtype.description" placeholder="description">
        <select ng-model="newSubtype.typeId">
            <option ng-repeat="type in typesList" value="{{type.id}}">
                {{type.title}}</option>
        </select>

        <button ng-click="submitSubtype()">OK</button><br>
    </div>
    <!--types-->
    <div style="border: 1px solid black; margin: 10px; padding: 10px">
        <h3>Type`s list</h3>
        <div ng-repeat="type in typesList">
            <input ng-model="type.title" placeholder="title">
            <button ng-click="updateType(type.id, type)">U</button>
            <button ng-click="deleteType(type.id)">X</button><br>
            <h3>Subtype`s list</h3>
            <div ng-repeat="subtype in subtypesListByType[type.id]">
                <input ng-model="subtype.title" placeholder="title">
                <select ng-model="subtype.typeId">
                    <option ng-repeat="type in typesList" value="{{type.id}}">
                        {{type.title}}</option>
                </select>
                <button ng-click="updateSubtype(subtype.id, subtype)">U</button>
                <button ng-click="deleteSubtype(subtype.id)">X</button><br>
                <hr>
            </div>
            <hr>
        </div>
    </div>

    <!--offers-->
    <div style="border: 1px solid black; margin: 10px; padding: 10px">
        <h3>Offer`s list</h3>
        <div ng-repeat="offer in offersList">
            Title: {{offer.title}}
            Description: {{offer.description}}
            Price: {{offer.price}} <button ng-click="deleteOffer(offer.id)">X</button><br>
            <img style="width: 300px" ng-repeat="image in offer.images" ng-src="{{image.url}}">
            <hr>
            <br><br><br><br>
        </div>
    </div>

</body>
</html>